.Page {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.view_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(desktop) {
    height: 100%;
  }
}
