.contact {
  padding: 0 10px;
  @include media(horizontal) {
    display: flex;
  }
  &__form {
    width: 100%;
    min-height: 40vh;
    padding: 0 10px;
    @include media(horizontal) {
      flex-basis: 50%;
    }
  }
  &__socials {
    width: 100%;
    min-height: 40vh;
    padding: 0 10px;
    text-align: left;
    @include media(horizontal) {
      width: auto;
    }
    @include media(desktop) {
      margin-left: 50px;
    }
  }
  &__line {
    margin: 10px 0;
    padding: 10px;
  }
  &__element {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $font-color2;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    width: auto;
    transition: 0.5s;
    @include media(desktop) {
      font-size: 1.8rem;
    }
    &:hover{
      color: darken($font-color2, 40%);
    }
  }
  &__image {
    width: 40px;
    margin-right: 20px;
    @include media(desktop) {
      width: 60px;
      margin-right: 30px;
    }
  }
  &__input,
  &__textarea {
    margin: 10px 0;
    display: block;
    padding: 10px;
    width: 100%;
    color: $font-color1;
    background-color: $background-color1;
    line-height: 1.4;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 5px 0 $background-color1;
    border: none;
    &::placeholder {
      color: $font-color3;
    }
    @include media(desktop) {
      margin: 20px 0;
    }
  }
  &__message {
    min-height: 40vh;
    font-weight: bold;
    text-align: center;
    color: $font-color2;
    padding: 40px;
    width: 100%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    @include media(desktop) {
      width: 50%;
    }
  }
  &__button {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: $background-color1;
    color: $font-color1;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 $background-color1;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: $background-color2;
      color: $font-color2;
    }
  }
  @keyframes popupAnimation {
    0%{
      opacity: 0;
      pointer-events: none;
    }
    5%{
      opacity: 1;
      pointer-events: unset;
    }
    95%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      pointer-events: none;
    }
    
  }
  .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
    font-size: 1.5rem;
    padding: 30px;
    font-weight: 700;
    animation: popupAnimation 5s linear 0s 1 both;
    border-radius: 10px;
    @include media(desktop){
      padding: 50px;
    }

    &--error{
      color: #fff;
      background-color: rgba(255, 25, 25, .8);
    }
    &--success{
      color: #fff;
      background-color: rgba(27, 236, 97, .8);
    }
  }
}
