$background-color1: rgba(221, 221, 221, 0.9);
$background-color1-1: rgba(221, 221, 221, 0.7);
$background-color2: rgba(51, 51, 51, 0.9);
$background-color2-2: rgba(51, 51, 51, 0.7);
$font-color1: #333;
$font-color2: #ddd;
$font-color3: #666;

$sizes: (
  horizontal: (
    orientation: landscape,
  ),
  desktop: (
    min-width: 1024px,
  ),
);

@mixin media($size) {
  $size: map-get($sizes, $size);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error 'Missing size';
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: $background-color1;
}

@import "App";
@import "Background";
@import "Head";
@import "Section";
@import "Card";
@import "Contact";
